$primaryColor: #90CAF9 !default;
$primaryLightColor: scale-color($primaryColor, $lightness: 30%) !default;
$primaryDarkColor: scale-color($primaryColor, $lightness: -10%) !default;
$primaryDarkerColor: scale-color($primaryColor, $lightness: -20%) !default;
$primaryTextColor: #212529 !default;

$highlightBg: rgba(144, 202, 249, 0.16) !default;
$highlightTextColor: rgba(255,255,255,.87) !default;

@import '../sass/theme/_theme_dim';
